.container {
    @apply p-5 bg-gray-50 rounded-lg;
}

.header {
    @apply flex justify-between items-center mb-4;
}

.header h2 {
    @apply text-lg font-bold;
}

.actions {
    @apply flex items-center space-x-2;
}

.avatar {
    @apply w-10 h-10 ;
}

.subHeader {
    @apply flex justify-between items-center mb-4;
}

.subHeader p {
    @apply text-base font-medium;
}

.table {
    @apply rounded-lg;
}

.containerEdit {
    @apply w-full mx-auto my-5 p-5 bg-white rounded-lg shadow-md;
}

.form {
    @apply flex flex-col gap-4;
}

.avatarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.avatar {
    width: 80px;
    height: 80px;
}

.row {
    @apply flex gap-4;
}

.input {
    @apply flex-1;
}


